/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Reset e Variáveis Globais */
@import url('./reset.css');
@import url('./styles/global-variables.css');

/* Componentes Base */
@import url('./styles/menu.css');
@import url('./styles/footer.css');

/* Páginas */
@import url('./styles/home.css');
@import url('./styles/sobre.css');
@import url('./styles/servicos.css');
@import url('./styles/contato.css');

/* Controle de scroll quando menu aberto */
.menu-aberto {
    overflow: hidden;
}

/* Estilos globais */
body {
    margin: 0;
    font-family: var(--font-primary);
    line-height: var(--line-height-padrao);
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

main {
    padding-top: 68px; /* altura do cabeçalho para evitar sobreposição */
}